extends layout

block content
    h1= title
    p cPanel : #{title}

block library
    script(type='text/javascript' src='bower/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='bower/underscore/underscore-min.js')
    script(type='text/javascript' src='bower/backbone/backbone-min.js')
    script(type='text/javascript' src='bower/bootstrap/dist/js/bootstrap.min.js')

block script